.floatL {
	float:left;
}
.floatR {
	float:right;
}
.textL{
   text-align: left !important;
}
.contentBackground {
	float:left;
	text-align: center;
}

.link {
  fill:none;
  stroke: #000;
  stroke-width: 1.5px;
}

.node {
  cursor: move;
  fill: #ccc;
  stroke: #000;
  stroke-width: 1.5px;
}

.node.fixed {
  fill: #f00;
}
